[submodule "frontend"]
	path = frontend
	url = git@github.com:son-daehyeon/CICD-Practice-Frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:son-daehyeon/CICD-Practice-Backend.git
